.App {
  width: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar, .custom-btn {
  background-color: #524fff;
}

.navbar-brand {
  color: white;
}

.transmitter {
  background-color: rgb(128, 128, 255) !important;
}

.receiver {
  background-color: rgb(128, 255, 128) !important;
}

.card[class*="interferer"] {
  background-color: rgb(255, 128, 128);
}

#canvas-container{
  position: relative;
  height: 60vh;
  margin:auto;
  background-color:gray ;
}

/* .navbar, .btn, .form-check-input:checked{
  background-color: lightskyblue;
  border-color: lightskyblue;
}

.btn-check:focus+.btn-primary, .btn-primary:focus, .btn-primary:hover{
  background-color: rgb(68, 182, 253);
  border-color: lightskyblue;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
